@import "https://fonts.googleapis.com/css2?family=Dosis&display=swap";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.lista {
  display: flex;
  overflow: hidden;
  background-color: lightpink;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px; }

a, a:active {
  text-decoration: none;
  color: white;
  list-style-type: none; }

.lista a:hover {
  background-color: white;
  color: lightpink; }

.titulo, h2 {
  font-size: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  padding-left: 5px;
  padding-right: 5px; }

.h4 {
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey; }

.nombre {
  display: flex;
  margin: 50px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center; }

.texto-contacto {
  text-align: center;
  padding: 20px; }

.contacto {
  padding: 40px;
  text-align: center; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #f9b5b3;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.formulario {
  display: flex;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end; }

h2, div {
  font-family: 'Dosis', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.barra-superior {
  background-color: #f9b5b3;
  height: 35px; }

.ig-descuento {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: flex-start; }

.descuento {
  color: white;
  font-size: 14px;
  align-items: center;
  justify-content: center; }

.hr {
  padding: 0px;
  margin: 0px; }

.tipo-de-prenda, .tabla-de-talles {
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.talles {
  display: flex;
  margin: 20px;
  align-content: center;
  justify-content: center; }

.talles-prendas {
  margin: 50px;
  text-align: center; }

.remeras {
  display: flex;
  margin: 50px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center; }

.buzos {
  display: flex;
  margin: 50px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center; }

.seleccion-prendas {
  margin: 50px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%; }

.divisor {
  height: 2rem;
  background-color: #fffffff9;
  border-width: 1px 0; }

.footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: grey;
  padding: 1em; }

.card-text1, .card-title1 {
  padding-bottom: 10px; }
