.lista {
	display: flex;
	text-decoration: none;
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
	font-size: 18px;
    margin: 0px;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
    background-color: #f7d2d1;
}