$background-color_1: red;

@keyframes animacion {
	0% {
		background-color: red;
	}
	25% {
		background-color: yellow;
	}
	50% {
		background-color: blue;
	}
	100% {
		background-color: green;
	}
}
div {
	width: 100px;
	height: 100px;
	background-color: $background-color_1;
	animation-name: animacion;
	animation-duration: 4s;
}
