@import "reset";
@import "barra-de-navegacion";
@import "titulos";
@import "formulario";
@import "colores";
@import "fuente";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.barra-superior {
	background-color: $background-color_1;
	height: 35px;
}
.ig-descuento {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	align-items: flex-start;
}

.descuento {
	color: $color_1;
	font-size: 14px;
	align-items: center;
	justify-content: center;
}

.hr {
    padding: 0px;
    margin: 0px;
}

.tipo-de-prenda, .tabla-de-talles {
	margin: 25px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.talles {
	display: flex;
	margin: 20px;
	align-content: center;
	justify-content: center;
}
.talles-prendas {
	margin: 50px;
	text-align: center;
}
.remeras {
	display: flex;
	margin: 50px;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-content: center;
	@keyframes animacion;
}
.buzos {
	display: flex;
	margin: 50px;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-content: center;
}

.seleccion-prendas {
	margin: 50px;
	display: flex;
	align-items: baseline;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 8%;
}
.divisor {
	height: 2rem;
	background-color: $background-color_3;
	border-width: 1px 0;
}
.footer {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: grey;
	padding: 1em;
}

.card-text1, .card-title1 {
	padding-bottom: 10px;
}
